@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
.myProfile{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.contentImg{
    margin-top: 2rem;
    width: 75%;
    height: 75%;
    border-radius: 50%;
    overflow: hidden;
}
.Photo {
    width: 100%;
    height: auto;
    display: block;

}
.MyName {
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 2rem;
    margin: 5px 0px 0px 0px;
}
.line{
    width: 70%;
    height: 3px;
    background-color: white;
}
@media only screen and (min-width: 1280px) {
    .contentImg{
        width: 80%;
        height: 80%;
    }
 .MyName{
    font-size: 1.8rem;
 }
 .line{
    width: 60%;
 }
}
@media only screen and (min-width: 921px) {
    .contentImg {
        width: 75%;
        height: 75%;
    }

    .MyName {
        font-size: 1.2rem;
    }

    .line {
        width: 50%;
        height: 2.5px;
    }
}
@media only screen and (min-width: 768px) {
    .contentImg {
            width: 70%;
            height: 70%;
        }
    
        .MyName {
            font-size: 1rem;
        }
    
        .line {
            width: 50%;
            height: 2.5px;
        }
}
