.Main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 9px 40px 0 40px ;
    width: 80vw;
    padding-left: 20%;
}
.BotonWhats {
    border-radius: 50%;
    width: 70px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    border: 1px solid wheat;
}