/* Card.css */

.ReferenceGeneral {
    display: flex;
    flex-direction: column;
    width: 220px;
    height: 170px;
    background-color: transparent;
    border:4px solid gray ;
    color: #000000;
    font-size: 1rem;
    margin: 0 10px;
}
.contentRef{
    width: 100%;
    height: auto;
    text-align: center;
}
@media only screen and (min-width: 921px) {
    .ReferenceGeneral {
        width: 170px;
        height: 140px;
        font-size: .8rem;
    }


}
@media only screen and (min-width: 768px) {
.ReferenceGeneral {
        width: 140px;
        height: 110px;
        font-size: .65rem;
    }
}