/* Card.css */

.CardGeneral {
    display: flex;
    flex-direction: row;
    width: 34%;
    border-radius: 8px;
    overflow: hidden;
    margin: 10px;
    background-color: #39a900;
    height: 47%;
}
.contentImgCard{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 100%;
    margin-left: 10px;
 
}
.imgCard {
    width: 100%;
    height: auto;  
    overflow: hidden; 
    border-radius: 10px;
}

.ContentofCard {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 60%;
    height: auto;
    padding: 0px;
}

.titleCard {
    display: flex;
    flex-wrap: wrap;
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0px 0px 5px 0px;
}

.DescripCard {
    font-size: 1rem;
    margin: 0px 0px 5px 0px;
}

.linkCard {
    font-size: 1rem;
    color: #000000;
    text-decoration: none;
    text-shadow: none;
}

.linkCard:hover {
    text-decoration: underline;
}


@media only screen and (min-width: 921px) {
.CardGeneral{
    width: 39%;
}
.titleCard{
        font-size: 1rem;
}
.linkCard,
.DescripCard{
    font-size: .8rem;
}

}
@media only screen and (min-width: 768px) {
    .CardGeneral {
        width: 45%;
    }

    .titleCard {
        font-size: .8rem;
    }

    .linkCard,
    .DescripCard {
        font-size: .65rem;
    }

}