@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.ReferencesContent {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 15px;
}

.Contentrefe {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 24%;
}

.Contentrefe>div {
    display: flex;
    align-items: center;
    width: 7%;
    height: 95%;
    background-color: #c1ff95;
    border-radius: 50%;
    margin-bottom: 14px;
}

.LogoSinFondo {
    width: 100%;
    height: auto;
    overflow: hidden;
}

.titleRefere {
    font-size: 35px;
    margin: 18px 0px 30px 10px;
    font-weight: 700;
    font-family: "Open Sans", sans-serif;
    color: #4d4d4d;
}

.lineSenaref {
    width: 100%;
    height: 4%;
    background-color: #c1ff95;
}

.refer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}